{% set actionBtnAttributes = {
    class: ['btn', '', '', 'menubtn'],
    type: 'button',
    role: 'button',
    title: 'Actions'|t('neo'),
    aria: {
        controls: 1,
        label: "test button",
    },
    data: {
        'disclosure-trigger': true,
        'hash': hash
    },
    style: {
        position: 'absolute',
        top: 0,
        right: 0
    }
} %}

{% set currentLang = "" %}

{% if craft.app.getPlugins.getPlugin('chatgpt-integration').settings.usePageLang %}
    {% for site in craft.app.sites.getAllSites () %}
        {% if site.handle == craft.app.request.getQueryParam('site') %}
            {% set currentLang = 'Using the locale ' ~ site.language %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if craft.app.getPlugins.getPlugin('chatgpt-integration').settings.accessToken|length %}
    {%  if " type=\"text\"" in input or "textarea" in input %}

        {% set prompts = craft.chatgptIntegration.getPrompts(true) %}

        <div class="chatgpt-button">
            <button {{ attr(actionBtnAttributes) }}>ChatGPT</button>
            <div id="1" class="menu menu--disclosure">
                <ul class="padded">
                    {% for item in prompts %}
                        <li><a href="#" class="doAi" type="button" role="button" data-hash="{{ hash }}" data-prompt="{{ currentLang }} {{ item.promptTemplate }}: " aria-label="{{ item.label }}">{{ item.label }}</a></li>
                    {% endfor %}
                </ul>
                <hr>
                <ul class="padded">

                    {% if craft.app.sites.getAllSites()|length > 1 %}
                        {% for site in craft.app.sites.getAllSites () %}
                            <li><a href="#" class="doAi" data-hash="{{ hash }}" data-prompt="Translate to {{ site.language }}: " type="button" role="button" aria-label="{{ 'Translate to {language}'|t('chatgpt-integration', params = {
                                    language: site.language
                                } ) }}">{{ 'Translate to {language}'|t('chatgpt-integration', params = {
                                        language: site.language
                                    } ) }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
                {#<hr>
            <ul class="padded">
                <li>
                    <a href="#" class="open-modal">{{ 'Senden'|t('chatgpt-integration') }}</a>
                </li>
            </ul>#}
            </div>
        </div>

    {% endif %}
{% endif %}